/* Banner section started */
.Banner {
    height: 80vh;
    padding: 0 15px;
    margin: 0;
    background: url(../../images/BannerBackground.png);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-size: cover;
}

.banner-d-flex {
    display: flex;
    align-items: center;
}

.mr-2 {
    margin-right: 8vw;
}

.Banner h1 {
    font-size: 2.8em;
}

.Banner p {
    font-family: HarmoniaSansProCyrRegular;
    font-size: 18px;
}

.Banner .big-banner-p {
    /* margin-top: 2em; */
    font-size: 22px;
}

.banner-flex {
    display: flex;
    align-items: center;
}

/* Banner section endedted */
.products {
    text-align: center;
}

.products h1 {
    padding-top: 10vh;
    font-size: 1.7em;
    margin-top: 0;
}

.products>p {
    font-family: HarmoniaSansProCyrRegular;
    font-size: 16px;
    color: #68757D;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    transition: all .3s;
}


.dot-dot {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 52px;
    color: #FF6F14;
    background-color: white;
    margin: 15vh 0 0;
    padding-bottom: 12px;
    cursor: pointer;
}

/* single card */
.single-card {
    background: #fff;
    padding: 10px;
    transition: .2s;
    cursor: pointer;
    height: 315px;
}

.price {
    color: #FF6F14;
}

.single-card:hover {
    box-shadow: 1px 1px 10px #d0d1d3;
}

.single-card:hover .card-p-none {
    display: block;
}

.single-card:hover .price {
    display: none;
}

.single-card:hover .ash-color2 {
    color: #FF6F14;
}

.single-card p {
    padding: 0px 0;
}

.ash-color2 {
    color: #43525D;
    font-size: 18px !important;
}

.ash-3 {
    color: #d0d1d3da;
}

.card-p-none {
    display: none;
}

.single-card img {
    max-height: 200px;
}

.single-card:hover img {
    /* width: 60%; */
    max-height: 120px;
    /* transition: .2s;*/
}

.color-flex {
    display: flex;
    justify-content: center;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.product-icon {
    margin-top: 30px;
}

.product-icon i {
    padding: 0 10px;
    color: #68757D;
}

/* discount component */
.discount {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.discount-half {
    background-color: white;
    padding: 15px 10px;
    max-height: 100px;
}

.discount-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* grid-template-columns: 1fr 2fr 1fr; */
}

.safe {
    background: url(../../images/textBackground.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* height: 150px; */
    display: flex;
    min-width: 70px;
    min-height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.safe p,
.safe h5 {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 14px;
}

/* .safe h5 {} */

.discount-price {
    display: flex;
    align-items: center;
}

.discount-kit p,
.discount-kit h3 {
    padding: 0;
    margin: 0;
}

.discount-kit h3 {
    font-family: HarmoniaSansProCyrBold;
    color: #43525D;
    font-size: 22px;
    /* line-height: 0; */
}

.discount-kit p {
    font-family: HarmoniaSansProCyrSemiBold;
    font-size: 12px;
    color: #68757D;
}

.discount-price h3 {
    font-size: 25px;
    font-family: HarmoniaSansProCyrBold;
    margin: 0;
}

.adv-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-spacing {
    font-size: 12px;
    /* color: #68757D; */
    letter-spacing: 10px;
}

/* animation */
.products-grid {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation: fade 3.01s ease 3s infinite;
    /* animation-duration: 1s;
    animation-delay: 3.1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}


/* media query */
@media only screen and (max-width: 901px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr)
    }

    .discount {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 769px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .single-card {
        /* height: 400px; */
    }
}

@media only screen and (max-width: 490px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}