.cart-details {
    max-width: 500px;
    /* margin: 10vh 0; */
}

.single-cart {
    border: 1px solid #1C1E1F;
    margin: 10px;
}

.cart-img {
    max-width: 80px;
    max-height: 100px
}

.cart-btn {
    border: 1px solid #1C1E1F;
}