.orange-color {
  color: #FF7013 !important;
}

.ash-color {
  color: #42535F;
}

.ash-2 {
  color: #69727D;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.mt-10vh {
  margin-top: 10vh;
}

.h-100vh {
  height: 100vh;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-32 {
  margin-bottom: 32px;
}

.fs-20 {
  font-size: 20px;
}

.pr-2 {
  padding-right: 12px;
}

.b-bottom {
  border-bottom: 1px solid #3333331e;
}

.bg-light {
  background-color: #F7F8F9;
}

.bg-white {
  background-color: white;
}

.c-pointer {
  cursor: pointer;
}

.max-ht-180 {
  max-height: 180px;
}

.max-wd {
  max-width: 100%;
}

.t-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

body {
  font-family: HarmoniaSansProCyrSemiBold, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

/* typography ended */

/*  common className */
.container {
  width: 85%;
  margin: 0 auto;
}

.figure {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.a-i-center {
  align-items: center;
}

.j-c-center {
  justify-content: center;
}


/* header area started */
.top-shadow {
  /* box-shadow: 1px 1px 1px #333333ee; */
  background-color: #fff;
  border-bottom: 1px solid #3333331e;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 14px 0px;
}

.top-contact-info {
  display: flex;
  align-items: center;
}

/* .flex-input-search {
  display: flex;
  padding: 5px 2px;
}
*/
.border {
  padding: 2px 10px;
  border: 1px solid #43525D;
  border-radius: 30px;
}


.input {
  width: 120px;
  outline: none;
  border: none;
  background-color: #F7F8F9;
}



.top-contact-info div {
  margin-right: 3vw;
}

.social-link {
  padding: 0 7px;
  font-size: 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  font-family: HarmoniaSansProCyrSemiBold;
}

.nav a {
  text-decoration: none !important;
}

.navbar {
  display: flex;
  position: relative;
  /* align-items: center; */
  justify-content: space-between;
}

.top-cart-num {
  position: relative;
}

.top-cart-num p {
  position: absolute;
  top: -17px;
  left: 22px;
  background: #42535F;
  width: 21px;
  height: 21px;
  color: white;
  border-radius: 50%;
  text-align: center;
}

.figure-logo {
  margin-right: 3vw;
}

.menubar,
.responsive {
  display: flex;
  padding-top: 12px;
}

.menubar div,
.responsive div {
  padding: 0 1vw;
}

.menubar div:hover a,
.menubar .active,
.responsive div:hover a {
  color: #FF7013
}

.bar-icon {
  display: none;
  position: absolute;
  top: 15px;
  right: 0px;
}

.nav-icons {
  display: flex;
}

.nav-icons .icons {
  padding: 0 15px;
}

.nav-icons .icons:last-child {
  padding-right: 0;
}

/* main item */
.banner {
  height: 90vh;
  background-image: url(images/BannerBackground.png);
}


/* media query */
@media only screen and (max-width: 900px) {
  .container {
    width: 95%;
  }

  .topbar {
    display: none;
  }

  .menubar {
    display: none;
  }

  .nav {
    display: block;
    /* border-bottom: 1px solid #33333310; */
  }

  .responsive {
    display: block;
    position: relative;
    right: 45%;
    top: 25px;
    overflow: hidden;
  }

  .responsive div {
    float: none;
    display: block;
    text-align: left;
    padding: 10px 0;
  }

  .bar-icon {
    display: block;
  }

  .nav-icons {
    display: none;
  }
}