/* typography and color started*/
@font-face {
  font-family: HarmoniaSansProCyrRegular;
  src: url(font/HarmoniaSansProCyr-Regular.ttf);
}

@font-face {
  font-family: HarmoniaSansProCyrLight;
  src: url(font/HarmoniaSansProCyr-Light.ttf);
}

@font-face {
  font-family: HarmoniaSansProCyrBold;
  src: url(font/HarmoniaSansProCyr-Bold.ttf);
}

@font-face {
  font-family: HarmoniaSansProCyrSemiBold;
  src: url(font/HarmoniaSansProCyr-SemiBd.ttf);
}


body {
  margin: 0;
  font-family: HarmoniaSansProCyrSemiBold, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F8F9 !important;
}

p {
  /* font-family: HarmoniaSansProCyrRegular; */
}